<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
                <binding name="CalculatorSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CalculatorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CalculatorSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="td4_.Calculator.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="customBinding" bindingConfiguration="CalculatorSoap12"
                contract="td4_.Calculator.CalculatorSoap" name="CalculatorSoap12" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap1"
                contract="td4_.Calculator.CalculatorSoap" name="CalculatorSoap1" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="customBinding" bindingConfiguration="CalculatorSoap121"
                contract="td4_.Calculator.CalculatorSoap" name="CalculatorSoap121" />
        </client>
    </system.serviceModel>
</configuration>